<header>
  <% if user_signed_in? %>

    <h3>Welcome, <%= current_user.name %></h3>

    <%= button_to "Sign out", destroy_user_session_path, method: :delete  %>

  <%end%>

</header>
<%# Tive que trocar para um button, simplesmente não estava funcionando o link_to. Por que? Ninguem sabe. %>

<h1>Agende sua vacinação</h1>

<div>
  <% @vaccines.each do |v| %>
    <ul>
    <li><%= v.name %></li>
    <li><%= v.technical_name%></li>
    <li><strong>R$ <%= v.price%> </strong></li>
    </ul>

    <%= button_to "+", add_to_cart_bu_selections_path(vaccine_id: v.id), method: :post%>
    <%= button_to "-", delete_to_cart_bu_selections_path(vaccine_id: v.id), method: :delete%> 


  <%end%>

  <%= button_to "Finalizar a compra", finalize_cart_bu_selections_path, method: :post%>

</div>

<%# Aqui estava acontecendo um problema, eu estava passando vaccine_id como objeto invés de uma chave, por isso estava dando problema, ou seja, eu arrebentei minha logica em ia achando que era problema no controller %>